
body {
    width: 100%;
    height: 100vh;
    background: #E5E5E5;
}

/*Slick Carousel*/

#slick {
    background: #3a3a3a;
    width: 100%;
    height: 450px;
    display: inline-flex;
}


.slick-content {
    display: inline-flex;
    width: 100%;
    height: 450px;
    padding-top: 70px;
    padding-left: 140px;
}

.slick-img {
    width: 40%;
    height: 300px;
    background-position: 50% 50%;
}

.slick-description {
    margin-left: 160px;
    width: 44%;
    color: #fff !important;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    height: 300px;
}

.slick-description h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.slick-description p {
    font-size: .9375rem;
}

.slick-prev, .slick-next {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    border-radius: 50%;
    align-items: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

.slick-prev {
    margin-left: 36px;
}

.slick-next {
    margin-right: 36px;
}

.slick-prev img, .slick-next img {
    display: flex;
    margin-top: -2px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1rem 0;

    list-style-type: none;
}

.slick-dots li {
    margin: 0 12px;
}

.slick-dots button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: white;
    opacity: .25;

    text-indent: -9999px;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button {
    background-color: white;
    opacity: 1;
}

.slick-initialized .slick-slide {
    display: flex;
}

/*Prrincipal*/
.call-button {
    color: #fff;
    background: #106e18;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    text-transform: none;
    padding: 15px;
    font-weight: 700;
    border: none;
    width: 60%;
    height: 58px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    outline: none;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.phone-svg {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
}

.phone-svg svg {
    margin-top: 7px;
    margin-right: 21px;
}

.phone-svg p {
    font-size: 22px;
    font-weight: bold;
    color: white !important;
}

.types-menu-apetit {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.types-menu-coffeein {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-items {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}

.apetit-1 img {
    width: 360px;
    height: 170px;
}

.coffeein-1 img {
    width: 360px;
    height: 170px;
}

.coffeein-1 {
    background: #3a3a3a;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
    width: 400px;
    padding: 10px;
    border-radius: 12px;
    height: 191px;
}

.apetit-1 {
    background: #3a3a3a;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 191px;
    padding: 10px;
    border-radius: 12px;
}

.coffeein-1:hover {
    background-color: black;
}

.apetit-1:hover {
    background-color: black;
}

.coffeein-1:active {
    background-color: #106e18;
}

.apetit-1:active {
    background-color: #106e18;
}

.coffeein-img {
    margin: auto;
    width: 360px;
}

.apetit-img {
    margin: auto;
    width: 360px;
}
