.come-back{
    margin-left: 65px;
}
.nav-links{
    margin-left: 65px;
}

footer{
    padding-left: 120px;
    left: 0;
    position: absolute;
}
.products-carts{
    margin-right: 65px;
}
/*Products Cart*/

.products-cart{
    width: 77%;
    display: flex;
    margin: 20px auto 10px;
    padding: 20px 30px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.25);
}
.products-cart p, h1, span{
    margin: 0;
}
.products-cart img{
    height: 70px;
}
.cart-description{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 70px;
}
.cart-description h1{
    font-size: 20px;
    padding: 0 5px;
    margin: 0;
}
.cart-description p{
    font-size: 20px;
    padding: 0 5px;
}
.cart-products-nr{
    display: flex;
    font-size: 20px;
    padding: 0 30px;
    align-items: center;
    text-align: center;
}
.cart-decrease, .cart-increase{
    cursor: pointer;
    background: #76bb76;
    color: white;
    font-size: 46px;
    display: flex;
    line-height: 10px;
    width: 23px;
    font-weight: bold;
    transform: translateY(100%);
    height: 23px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    border: none;

}
.change-cart{
    display: flex;
    margin-right: 70px;
}
.cart-close{
    background: red;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,.25));
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
}
.cart-close p{
    transform: rotate(45deg);
    padding-bottom: 8px;
}

.cart-price{
    margin-right: 70px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.cart-price p{
    font-size: 20px;
}

.cart-price sup{
    top: -14px;
}

.finish-command{
    background: #106e18;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    max-width: 77%;
    width: 100%;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 80px auto;
    cursor: pointer;
    height: 60px;
}
.finish-command h1{
    font-size: 22px;
}

.follow-instagram{
    max-width: 77%;
    width: 100%;
    display: flex;
    text-align: center;
    margin: 80px auto;
    justify-content: center;
}

.follow-instagram h1{
    font-size: 32px;
}



/*Popup cart*/

.popup-cart{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.35);
}
.cart-products{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.popup{
    height: auto;
    width: 80vw;
    padding: 26px;
    background: #fff;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, .25);
    border-radius: 12px;
    left: 20%;
    max-width: 870px;
    position: absolute;
}

.popup-task h1{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 40px;
}
.contacts{
    display: flex;
    margin-bottom: 1rem;
}
.write-number{
    display: flex;
}
.popup-number-title span{
    color: red;
    margin-left: 10px;
}

.write-number{
    margin-top: 10px;
}
.input-number{
    max-width: 400px;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    padding-left: 82px;
    color: #495057;
    padding-right: 15px;
}
.input-name:focus{
    outline: none;
    border: 3px red solid;
}
.input-number:focus{
    outline: none;
    border: 3px red solid;
}

.input-name{
    max-width: 400px;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    color: #495057;
    padding-left: 15px;
}
.name-popup-title{
    margin-left: 10px;
}
.write-number-img{
    display: flex;
    position: absolute;
    padding-top: 28px;
    padding-left: 15px;
}

.total-popup{
    text-align: end;
    margin-right: 15px;
}
.total-popup h1{
    font-size: 24px;
}

#popup-cart{
    display: none;
}

#map2, #map3{
    width: 600px;
    height: 305px;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}



.share-location label{
    padding-left: .6rem;
}

.share-location input{
    transition-duration: 0.15s;
    transform: translateY(4px);
    width: 20px;
    height: 20px;
    transition-property: background-color,border,box-shadow;
    transition-timing-function: ease-in;
}
.share-location input :hover{
    background-color: rgba(143,155,179,.08);
    border-color: #8f9bb3;
}



#finish-popup{
    display: flex;
    color: #fff;
    font-size: 22px;
    background: #106e18;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .25);
    border-radius: 12px;
    text-transform: none;
    padding: 15px;
    font-weight: 700;
    border: none;
    width: 100%;
    min-height: 58px;
    margin-top: 20px;
}

#finish-popup p{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
